@model List<Kodisoft_Test.Models.ItemModel>

@{
    ViewData["Title"] = "Feed";
}

<h2>Feed</h2>
<div id="feeds" />

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = "https://localhost:44361/api/Feed/all";

    $(document).ready(function () {
        $.getJSON(uri)
            .done(function (data) {
                $.each(data, function (key, item) {
                    var text = `<h3>${item.title}</h3>
                                  <span>${item.content}</span> <br />
                                  <a href="${item.link}">Подробнее</a> <br /> 
                                  <hr />`;

                    $(text).appendTo($('#feeds'));
                });
            });
    });
</script>